<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/post-style.css">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <div class="dates">
        <h4 id="date_created">DATE CREATED: {{date_created}}</h4>
        <h4 id="date_updated" hidden>DATE UPDATED: {{date_updated}}</h4>
    </div>

    <div class="content">
        <p>{{content}}</p>
    </div>

    <script src="../public/scripts/public-utils.js"></script>
    <script>
        const dateCreated = document.getElementById('date_created');
        const dateUpdated = document.getElementById('date_updated');

        const createdDateString = '{{date_created}}';
        const createdDate = utcToLocalTime('{{date_created}}');

        const updatedDateString = '{{date_updated}}';
        let updatedDate;

        if (updatedDateString) {
            updatedDate = utcToLocalTime('{{date_updated}}');
            dateUpdated.hidden = false;
        }

        dateCreated.textContent = "DATE CREATED: " + createdDate;
        dateUpdated.textContent = Boolean(updatedDate) !== false ? "DATE CREATED: " + updatedDate : "";

    </script>
</body>
</html>