<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/post-style.css">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <div class="dates">
        <h4>DATE CREATED: {{date_created}}</h4>
        {{#if date_updated}}
        <h4>DATE UPDATED: {{date_updated}}</h4>
        {{/if}}
    </div>

    <div class="content">
        <p>{{content}}</p>
    </div>
</body>
</html>